# Lego Data Analysis

This dataset is from Rebrickable

## LEGO Data Model

![downloads_schema_v3.webp](attachment:downloads_schema_v3.webp)

## Importing Libraries

In [1]:
import pandas as pd 
import numpy as np

## Getting the data

In [2]:
sets = pd.read_csv('sets.csv')
themes = pd.read_csv('themes.csv')

## Displaying top 10 rows

In [3]:
sets.head(10)

,set_num,name,year,theme_id,num_parts,img_url
0,001-1,Gears,1965,1,43,https://cdn.rebrickable.com/media/sets/001-1.jpg
1,0011-2,Town Mini-Figures,1979,67,12,https://cdn.rebrickable.com/media/sets/0011-2.jpg
2,0011-3,Castle 2 for 1 Bonus Offer,1987,199,0,https://cdn.rebrickable.com/media/sets/0011-3.jpg
3,0012-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0012-1.jpg
4,0013-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0013-1.jpg
5,0014-1,Space Mini-Figures,1979,143,2,https://cdn.rebrickable.com/media/sets/0014-1.jpg
6,0015-1,Space Mini-Figures,1979,143,18,https://cdn.rebrickable.com/media/sets/0015-1.jpg
7,0016-1,Castle Mini Figures,1979,189,15,https://cdn.rebrickable.com/media/sets/0016-1.jpg
8,002-1,4.5V Samsonite Gears Motor Set,1965,1,3,https://cdn.rebrickable.com/media/sets/002-1.jpg
9,002253963-1,Legend of Chima: Corbeaux et Gorilles,2013,497,4,https://cdn.rebrickable.com/media/sets/0022539...

In [4]:
themes.head(10)

   id                    name  parent_id
0   1                 Technic        NaN
1   3             Competition        1.0
2   4          Expert Builder        1.0
3  16              RoboRiders        1.0
4  17          Speed Slammers        1.0
5  18               Star Wars        1.0
6  19            Supplemental        1.0
7  20         Throwbot Slizer        1.0
8  21  Universal Building Set        1.0
9  22                 Creator        NaN

## Displaying Last 10 rows

In [5]:
sets.tail(10)

,set_num,name,year,theme_id,num_parts,img_url
21281,XBOXGAME-1,Batman the Videogame - Xbox 360,2008,742,0,https://cdn.rebrickable.com/media/sets/xboxgam...
21282,XBOXGAME-2,Bionicle Heroes - Xbox 360,2006,742,0,https://cdn.rebrickable.com/media/sets/xboxgam...
21283,XBOXGAME-3,DC Super-Villains - Xbox One,2018,742,0,https://cdn.rebrickable.com/media/sets/xboxgam...
21284,XBOXGAME-9,Star Wars: The Video Game - Xbox,2005,742,0,https://cdn.rebrickable.com/media/sets/xboxgam...
21285,XMASTREE-1,Christmas Tree,2019,410,26,https://cdn.rebrickable.com/media/sets/xmastre...
21286,XWING-1,Mini X-Wing Fighter,2019,158,60,https://cdn.rebrickable.com/media/sets/xwing-1...
21287,XWING-2,X-Wing Trench Run,2019,158,52,https://cdn.rebrickable.com/media/sets/xwing-2...
21288,YODACHRON-1,Yoda Chronicles Promotional Set,2013,158,413,https://cdn.rebrickable.com/media/sets/yodachr...
21289,YTERRIER-1,Yorkshire Terrier,2018,598,0,https://cdn.rebrickable.com/media/sets/yterrie...
21290,ZX8000-1,ZX 8000 LEGO Sneaker,2020,501,0,https://cdn.rebrickable.com/media/sets/zx8000-...

## Checking the datatypes

In [6]:
sets.dtypes

set_num      object
name         object
year          int64
theme_id      int64
num_parts     int64
img_url      object
dtype: object

In [7]:
themes.dtypes

id             int64
name          object
parent_id    float64
dtype: object

## Checking NULL values in the datasets

In [8]:
sets.isnull().sum()

set_num      0
name         0
year         0
theme_id     0
num_parts    0
img_url      0
dtype: int64

In [9]:
themes.isnull().sum()

id             0
name           0
parent_id    144
dtype: int64

## Checking number of rows and columns

In [10]:
sets.shape

(21291, 6)

In [11]:
themes.shape

(465, 3)

In [12]:
sets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21291 entries, 0 to 21290
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   set_num    21291 non-null  object
 1   name       21291 non-null  object
 2   year       21291 non-null  int64
 3   theme_id   21291 non-null  int64
 4   num_parts  21291 non-null  int64
 5   img_url    21291 non-null  object
dtypes: int64(3), object(3)
memory usage: 998.1+ KB

## Merging Data

## Joining the two datasets

In [13]:
sets_themes = pd.merge(sets, themes, how= 'left', left_on= 'theme_id', right_on= 'id', suffixes= ('_sets' , '_themes'))
sets_themes

,set_num,name_sets,year,theme_id,num_parts,img_url,id,name_themes,parent_id
0,001-1,Gears,1965,1,43,https://cdn.rebrickable.com/media/sets/001-1.jpg,1,Technic,NaN
1,0011-2,Town Mini-Figures,1979,67,12,https://cdn.rebrickable.com/media/sets/0011-2.jpg,67,Classic Town,50.0
2,0011-3,Castle 2 for 1 Bonus Offer,1987,199,0,https://cdn.rebrickable.com/media/sets/0011-3.jpg,199,Lion Knights,186.0
3,0012-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0012-1.jpg,143,Supplemental,126.0
4,0013-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0013-1.jpg,143,Supplemental,126.0
...,...,...,...,...,...,...,...,...,...
21286,XWING-1,Mini X-Wing Fighter,2019,158,60,https://cdn.rebrickable.com/media/sets/xwing-1...,158,Star Wars,NaN
21287,XWING-2,X-Wing Trench Run,2019,158,52,https://cdn.rebrickable.com/media/sets/xwing-2...,158,Star Wars,NaN
21288,YODACHRON-1,Yoda Chronicles Promotional Set,2013,158,413,https://cdn.rebrickable.com/media/sets/yodachr...,158,Star Wars,NaN
21289,YTERRIER-1,Yorkshire Terrier,2018,598,0,https://cdn.rebrickable.com/media/sets/yterrie...,598,Promotional,NaN
21290,ZX8000-1,ZX 8000 LEGO Sneaker,2020,501,0,https://cdn.rebrickable.com/media/sets/zx8000-...,501,Gear,NaN

## Total Number of Parts per Theme

In [14]:
Num_Parts_per_Theme = sets_themes.groupby('name_themes').sum('num_parts').reset_index()
Num_Parts_per_Theme = Num_Parts_per_Theme[['name_themes', 'num_parts']].sort_values('num_parts', ascending = False)
Num_Parts_per_Theme

                     name_themes  num_parts
323                      Technic     245912
308                    Star Wars     237673
125                      Friends     120715
220                      Ninjago     118259
353    Ultimate Collector Series     100576
..                           ...        ...
238       Posters and Art Prints          0
25          Bag and Luggage Tags          0
256  Role Play Toys and Costumes          0
130           Gabby’s Dollshouse          0
101                     Dreamzzz          0

[379 rows x 2 columns]

## Number of Parts per Year

In [15]:
Num_Parts_per_Year = sets_themes.groupby('year').sum('num_parts').reset_index()
Num_Parts_per_Year = Num_Parts_per_Year[['year', 'num_parts']].sort_values('num_parts', ascending = False)
Num_Parts_per_Year

    year  num_parts
71  2022     280831
70  2021     265473
69  2020     212088
68  2019     192036
72  2023     182625
..   ...        ...
5   1956        295
3   1954        117
8   1959         65
2   1953         50
1   1950          6

[73 rows x 2 columns]

## Sets Created per Year

In [16]:
unique_years = sets_themes['year'].unique()
unique_years.sort()
unique_years

array([1949, 1950, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961,
       1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972,
       1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983,
       1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994,
       1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005,
       2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016,
       2017, 2018, 2019, 2020, 2021, 2022, 2023], dtype=int64)

In [17]:
sets_themes['year'] > 2000

0        False
1        False
2        False
3        False
4        False
         ...
21286     True
21287     True
21288     True
21289     True
21290     True
Name: year, Length: 21291, dtype: bool

In [18]:
sets_themes['Century'] = np.where(sets_themes['year'] > 2000, '21st_century', '20th_century')
sets_themes

,set_num,name_sets,year,theme_id,num_parts,img_url,id,name_themes,parent_id,Century
0,001-1,Gears,1965,1,43,https://cdn.rebrickable.com/media/sets/001-1.jpg,1,Technic,NaN,20th_century
1,0011-2,Town Mini-Figures,1979,67,12,https://cdn.rebrickable.com/media/sets/0011-2.jpg,67,Classic Town,50.0,20th_century
2,0011-3,Castle 2 for 1 Bonus Offer,1987,199,0,https://cdn.rebrickable.com/media/sets/0011-3.jpg,199,Lion Knights,186.0,20th_century
3,0012-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0012-1.jpg,143,Supplemental,126.0,20th_century
4,0013-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0013-1.jpg,143,Supplemental,126.0,20th_century
...,...,...,...,...,...,...,...,...,...,...
21286,XWING-1,Mini X-Wing Fighter,2019,158,60,https://cdn.rebrickable.com/media/sets/xwing-1...,158,Star Wars,NaN,21st_century
21287,XWING-2,X-Wing Trench Run,2019,158,52,https://cdn.rebrickable.com/media/sets/xwing-2...,158,Star Wars,NaN,21st_century
21288,YODACHRON-1,Yoda Chronicles Promotional Set,2013,158,413,https://cdn.rebrickable.com/media/sets/yodachr...,158,Star Wars,NaN,21st_century
21289,YTERRIER-1,Yorkshire Terrier,2018,598,0,https://cdn.rebrickable.com/media/sets/yterrie...,598,Promotional,NaN,21st_century
21290,ZX8000-1,ZX 8000 LEGO Sneaker,2020,501,0,https://cdn.rebrickable.com/media/sets/zx8000-...,501,Gear,NaN,21st_century

In [19]:
Sets_per_Century = sets_themes.groupby('Century').count().reset_index()
Sets_per_Century = Sets_per_Century[['Century', 'set_num']].sort_values('set_num', ascending = False)
Sets_per_Century

        Century  set_num
1  21st_century    16247
0  20th_century     5044

## Percentage of sets in the 21st century - Trains Themed

In [20]:
Century_21_Data = sets_themes[sets_themes['Century'] == '21st_century']
Train = Century_21_Data[Century_21_Data['name_themes'].str.contains('Train')]

In [21]:
Century_21_Data.shape[0]

16247

In [22]:
Train.shape[0]

69

In [23]:
(Train.shape[0] / Century_21_Data.shape[0]) * 100

0.42469378962269955

## Percentage of sets in the 21st century - Disney Themed

In [24]:
Disney = Century_21_Data[Century_21_Data['name_themes'].str.contains('Disney')]

(Disney.shape[0] / Century_21_Data.shape[0]) * 100

1.3910260355757986

## Most Popular Theme per Year in the 21st Century

In [25]:
Popular_per_Year = Century_21_Data.groupby(['year', 'name_themes']).count().reset_index()
Popular_per_Year = Popular_per_Year[['year', 'name_themes', 'set_num']].sort_values('set_num', ascending= False)
Popular_per_Year.drop_duplicates('year').sort_values('year', ascending= False)

      year        name_themes  set_num
1714  2023            Friends       44
1617  2022              Books       80
1559  2021               Gear      149
1467  2020            Friends       59
1426  2019  The LEGO Movie II       64
1330  2018          Star Wars       69
1244  2017          Star Wars       64
1158  2016          Star Wars       63
1058  2015          Star Wars       69
964   2014            Technic      116
867   2013          Star Wars       41
757   2012            Ninjago       47
679   2011            Ninjago       43
598   2010          Key Chain       44
545   2009             Racers       42
433   2008           Bionicle       39
393   2007          Key Chain       36
303   2006           Bionicle       50
240   2005           Bionicle       36
183   2004           Bionicle       48
118   2003           Bionicle       65
103   2002            Technic       65
7     2001           Bionicle       45

## Most popular colors of Lego in quantity of parts

In [27]:
colors = pd.read_csv('colors.csv')
colors

       id                  name     rgb is_trans
0      -1             [Unknown]  0033B2        f
1       0                 Black  05131D        f
2       1                  Blue  0055BF        f
3       2                 Green  237841        f
4       3        Dark Turquoise  008F9B        f
..    ...                   ...     ...      ...
218  1092       Metallic Copper  764D3B        f
219  1093           Light Lilac  9195CA        f
220  1094   Trans-Medium Purple  8D73B3        f
221  1095           Trans-Black  635F52        t
222  9999  [No Color/Any Color]  05131D        f

[223 rows x 4 columns]

In [29]:
inventory_parts = pd.read_csv('inventory_parts.csv')
inventory_parts

,inventory_id,part_num,color_id,quantity,is_spare,img_url
0,1,48379c01,72,1,f,https://cdn.rebrickable.com/media/parts/photos...
1,1,48395,7,1,f,https://cdn.rebrickable.com/media/parts/photos...
2,1,stickerupn0077,9999,1,f,NaN
3,1,upn0342,0,1,f,NaN
4,1,upn0350,25,1,f,NaN
...,...,...,...,...,...,...
1145226,178946,973c22h70pr6312,4,1,f,https://cdn.rebrickable.com/media/parts/elemen...
1145227,178947,3626cpr2375,70,1,f,https://cdn.rebrickable.com/media/parts/elemen...
1145228,178947,79688,0,1,f,https://cdn.rebrickable.com/media/parts/elemen...
1145229,178947,970c05,272,1,f,https://cdn.rebrickable.com/media/parts/elemen...
1145230,178947,973c27h19pr6756,15,1,f,https://cdn.rebrickable.com/media/parts/elemen...

In [33]:
inv_colors = pd.merge(inventory_parts, colors, how= 'left', left_on= 'color_id', right_on= 'id', suffixes= ('_inv' , '_colors'))
inv_colors.rename(columns={'name': 'color_name'}, inplace=True)
inv_colors

,inventory_id,part_num,color_id,quantity,is_spare,img_url,id,color_name,rgb,is_trans
0,1,48379c01,72,1,f,https://cdn.rebrickable.com/media/parts/photos...,72,Dark Bluish Gray,6C6E68,f
1,1,48395,7,1,f,https://cdn.rebrickable.com/media/parts/photos...,7,Light Gray,9BA19D,f
2,1,stickerupn0077,9999,1,f,NaN,9999,[No Color/Any Color],05131D,f
3,1,upn0342,0,1,f,NaN,0,Black,05131D,f
4,1,upn0350,25,1,f,NaN,25,Orange,FE8A18,f
...,...,...,...,...,...,...,...,...,...,...
1145226,178946,973c22h70pr6312,4,1,f,https://cdn.rebrickable.com/media/parts/elemen...,4,Red,C91A09,f
1145227,178947,3626cpr2375,70,1,f,https://cdn.rebrickable.com/media/parts/elemen...,70,Reddish Brown,582A12,f
1145228,178947,79688,0,1,f,https://cdn.rebrickable.com/media/parts/elemen...,0,Black,05131D,f
1145229,178947,970c05,272,1,f,https://cdn.rebrickable.com/media/parts/elemen...,272,Dark Blue,0A3463,f
1145230,178947,973c27h19pr6756,15,1,f,https://cdn.rebrickable.com/media/parts/elemen...,15,White,FFFFFF,f

In [35]:
Num_Colors = inv_colors.groupby('color_name').sum('quantity').reset_index()
Num_Colors = Num_Colors[['color_name', 'quantity']].sort_values('quantity', ascending = False)
Num_Colors.head(20)

            color_name  quantity
1                Black    720938
61   Light Bluish Gray    437171
207              White    428714
23    Dark Bluish Gray    311798
142                Red    282807
2                 Blue    192467
208             Yellow    191754
160                Tan    144760
143      Reddish Brown    126255
63          Light Gray    103039
57               Green     72802
32            Dark Tan     45411
124             Orange     43117
166        Trans-Clear     41775
31            Dark Red     40029
21           Dark Blue     39064
131         Pearl Gold     38158
76                Lime     36048
176   Trans-Light Blue     28072
25           Dark Gray     24240